
/*JUMBOTRON*/
.jumbotron {
	background-size: cover;
	margin-bottom: 0px;
    text-align: center;
    background-color: black;
}

.jumbotron h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 90px;
	text-transform: uppercase;
	font-weight: 1000;
	color: #d8b0c9;
}

.jumbotron p {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
    font-weight: 500;
    color: white;
	text-transform: uppercase;
}